*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.show{
    border: 2px solid black;
    background-color: aqua;
    display: flex;
    flex-wrap: wrap;
    width: 80%;
    /* min-height: 80px; */
    margin-left: 40px;
    margin-top: 40px;
    justify-content: space-around;
}

.box{
    background-color: blue;
    height: 80px;
    width: 450px;
    border: 2px solid black;
}